
/* ========================
        NAV 
=========================== */

.navToggle {
    /* defines flex container + enables flex context for children */
    display: flex;
    /* defines alignment along main axis */
    justify-content: space-evenly;
    /* border: 3px dotted yellow; */
    align-items: center; /* justify-content but for cross axis */
}


#myNav {
    text-align: center; /* centers content in div */
    /* border: 3px solid pink; */
}

#myNav a {
    transition: 0.3s; /* add transition on hover */
    padding: 10px; /* 10px top bottom */
    text-decoration: none;
    font-size: 1.5rem;
    /* color: #7d8491; */
    border-radius: 5px 5px;
    /* border: 5px solid greenyellow; */
    margin: 0 1em;
}

#myNav .current-page, #myNav a:hover {
    text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~~
    Darkmode Toggle 
~~~~~~~~~~~~~~~~~~~~ */

.toggle-and-icons {
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    font-size: 0.875em;
}


/* box around slider */
.switch {
    /* border: 3px solid green; */
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px; /* original 34 */
    margin-left: 15px;
    margin-right: 15px;
}

/* hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider  */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5d576b;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 21px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #bfb6bb;
}


input:checked + .slider:before {
    transform: translateX(27px);
}

/* rounded sliders - outer shape */
.slider.round {
    border-radius: 34px;
}

/* inner shape  */
.slider.round::before {
    border-radius: 50%;
}

/* ===================
        LAYOUT 
====================== */

body {
    margin: 0;
    font-size: 25px;
    font-family: 'Rajdhani',
            Verdana,
            sans-serif;
    /* border: 3px solid red; */
    /* font-family: 'Courier New', Courier, monospace; */
    /*font-family: optima;*/
}

.container {
    width: 60%;
    max-width: 750px;
    margin: 30 auto; /* 30px top, bottom and centered */
    /* border: 5px dotted magenta; */
}

.container-activities-contact {
    width: 100%;
    min-width: 440px;
    max-width: 750px;
    margin: 30 auto;
    /* 30px top, bottom and centered */
    /* border: 3px dotted blue; */
}

/* ===============
    index.html
================== */
.section-one {
    display: flex;
    justify-content: space-around; /* adjusts spacing between name and linkedin */
    align-items: center; /* lines up name & linkedIn horizontally */
    /*border: 5px dotted blueviolet;*/
}

.section-one a {
    color: #71697a;
}

.section-two {
    text-align: center; /* centers content in div */
}


.section-three {
    /* border: 3px solid green; */
}

.section-three h3 {
    font-size: 2rem;
    /* border: 3px dotted orange; */
}

.section-three ul {
    display: flex;
    /* displays side-by-side */    
    list-style-type: none;
    /* width: 95%; */
    /* border: 3px solid blue;     */
}

.section-three ul li {
    /* priorities list */
    padding-right: 2em;
    font-size: 1.5rem;
    /*fonts => rem, margins/padding => em */
    /* border: 3px dotted pink; */
}

.profileImg {
    max-width: 70%;
    /* % of parent */
    border-radius: 50%;
    /* round */
}


/* 
===============
activities.html
=============== */

.activities {
    display: flex; /* displayed side-by-side, then modified: */
    flex-direction: column; /* pictures' displayed in column */
    align-items: center;
}

.activity {
    position: relative;
    /* parent: relative for overlay */
}

/* pictures */
.sports {
    width: 100%;
    border-radius: 7px 7px;
    margin-bottom: 10px;
}

.sports-text {
    position: absolute;
    /* child: absolute for overlay */
    bottom: 2em;
    left: 2em;
    color: black;
    font-size: 1.5rem;
    background-color: white;
    opacity: 70%;
    padding: 10px;
    border-radius: 7px 7px;
}


/* 
===============
projects.html
=============== */

.projects-h1 {
    padding-left: 15px;
    text-align: center; /* centers content in div */
}

.projects {
    display: flex; /* defines flex container */
    flex-direction: column; /* establishes main axis */
    /* flex-wrap: wrap; */
    margin: auto;
    /* border: 3px dotted blue; */
}

.project {
    width: 75%;
    margin: auto;
    /* border: 3px solid orange; */
    padding: 0 0 50 0; /* T R B L */
    text-align: center; /* centers content w/ in div */
}

.proj-name {
    /* border: 3px solid green; */
    text-align:center;
}

.proj-name .line {
    height: 1.5px;
}

.proj-name h4 {
    font-size: 27px;
    margin: 20 0 10 0; /*T R B L */
    /* border: 3px dotted yellow; */
}

.description {
    /* border: 3px solid blue; */
    text-align: center;
}

.descText {
    margin: 12 10 20 10; /* T R B L */
}

.externalLinks {
    display: flex; 
    justify-content: center; /* items centered on main (horiz) axis */
    /* align-items: baseline; items are aligned such as their baselines align */
    /* border: 3px dotted green; */
    /* margin: 0 0 20 0; */
    margin: auto;
}

.externalLinks a {
    
    /* border: 3px dashed pink; */
    /* width: 100%; */
    text-align: center;
}

.gitDiv {
    padding-right: 15px;
}

.deployDiv {
    padding-top: 29px;
}

.gitDiv a {
    color: #db2b39;
}

.deployDiv a{
    color: #16B69E;
}

/* 
===============
contact.html
=============== */
.main {
    position: relative;
    /* parent of .text-on-balloon */
}

.contact-projects-link {
    color: white;
}

.contact-h1 {
    text-align: center;
}

.balloon {
    max-width: 100%;
    border-radius: 7px 7px;
}

.balloon-div{
    text-align: center;
}

.text-on-balloon {
    position: absolute;
    /* child of .main */
    color: white;
    top: 35%;
    left: 20%;
    background-color: rgb(63, 57, 57);
    opacity: 0.8;
    padding: 15px 20px;
    border-radius: 10px;
}

/* 
===============
volunteer.html
=============== */

/* photo */
.myLittle {
    max-width: 100%;
    border-radius: 7px 7px;
    border-style: solid;
    border-color: #d4afb9;
}

.bbbs-content {
    text-align: center;
}

.bbbs-content h4, p {
    /* border: 3px solid orange; */
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* =========================================
        MEDIA QUERIES
=============================================*/

/* <= 450px, reformat:


*/
@media (max-width: 450px) {
    .sports {
        width: 95%;
    }
}

/* <= 700px, reformat:
nav, priorities list, h1, h3, linkedin icon */
@media (max-width: 775px) {

    #myNav{
        display: flex;
        flex-direction: column; /* flip axis */
    }

    ul {
        text-align: center;
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }
    
    h3{
        text-align: center;
    }
/* 
    .fa-brands {
        font-size: 1em; 
    } */    
    
}

/* <= 725px, reformat:
profile img, contact text background, contact text
*/
@media (max-width: 725px){
    .profileImg {
            min-width: 100%;
        }

    .text-on-balloon {
        opacity: 0.83;
    }   
    
    .contact-text {
        font-size: 1rem;
    }
}

/* <= 815px, reformat: 
contact text background
*/
@media (max-width: 815px) {
    .text-on-balloon {
        /* left: 8%; */
    }

}


/* <= 1000px, reformat: 
activities text overlay, contact balloon text overlay
*/
@media (max-width: 1000px) {
    .sports-text {
        font-size: 1rem;
        bottom: 0.5em;
    }

    .text-on-balloon {
        /* margin-right: 15px; */
    }
}

/* <= 1091px, reformat:
projects container, project tiles, dark mode toggle
*/
@media (max-width: 1091px) {
    #myNav a {
            /* font-size: 0.8rem; */
            padding: 3px;
    }
    .navToggle {
        display: flex;
        flex-direction: column-reverse;
    }

    .toggle-and-icons {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 0.625em;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    .project {
        margin: auto;
        min-width: 250px;
        margin-bottom: 10px;
    }

    .projects-h1 {
        text-align: center;
    }

    .skills {
        text-align: left;
    }

    /* box around slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px; /*27*/
        /* original 34 */
    }
    
    /* hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* slider  */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 16px; /* 21 */
        width: 17px;
        left: 3px;
        bottom: 2px;
        transition: .4s;
    }

    input:checked+.slider:before {
        transform: translateX(17px);
    }
}

